* {
	font-family: "Neuton", serif;
}

body {
  background-color: #FAEBD7;
}

h1 {
  	font-family: "Montserrat", san-serif;
	color: #2F4F4F;
}

h2 {
	font-family: "Montserrat", san-serif;
	color: #2F4F4F;
}
	
p {
	color: magenta;
}
